.projects-section {
  background: white;
  border-radius: 44px;
  padding: 3rem 3rem;
}

.projects-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.view-options {
  justify-self: flex-end;
  display: flex;
  align-items: center;
}
