@use "../abstracts/mixins" as *;

.messages-section {
  margin-top: 19px;
  padding: 24px;
  height: fit-content;
}

.messages-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 8px;
  position: relative;

  &::after {
    @include section-divider(-3rem, -1rem);
  }
}

.messages-title {
  font-size: 18px;
  font-weight: 600;
  color: $color-primary;
}

.messages-actions {
  display: flex;
  gap: 8px;
}

.message-item {
  display: flex;
  gap: 12px;
  padding: 16px 0;
  position: relative;

  &:hover {
    background: white;
  }

  &:not(:last-child)::after {
    @include section-divider(-3rem, -1rem);
  }
}

.message-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: $color-avatar-bg;
  flex-shrink: 0;
}

.message-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.message-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 4px;
}

.message-sender {
  font-weight: 600;
  color: $color-primary;
}

.message-time {
  font-size: 12px;
  color: $color-muted;
  align-self: flex-end;
}

.message-text {
  font-size: 14px;
  color: $color-muted;
  line-height: 1.4;
}

.messages-list {
  max-height: 550px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 18px;
  scrollbar-width: thin;
  scrollbar-color: #1e293b transparent;
  // For WebKit browsers

  &::-webkit-scrollbar-thumb {
    background: $color-primary;
    border-radius: 3px;
  }
}
