.time-badge {
  padding: 0.5625rem 1.5rem;
  border-radius: 1.25rem;
  font-size: 0.75rem;
  font-weight: 600;
  display: inline-block;
  width: fit-content;
  text-align: center;

  @each $name, $colors in $badge-colors {
    &.#{$name} {
      background: map-get($colors, bg);
      color: map-get($colors, text);
    }
  }
}
