.view-btn {
  padding: 8px;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;

  &.active {
    background: #f1f5f9;
    color: $color-primary;
  }
}

.project-menu {
  background: none;
  border: none;
  cursor: pointer;
  color: $color-primary;
  padding: 4px;
  font-size: 20px;
  font-weight: 800;
}

.message-star {
  background: none;
  border: none;
  cursor: pointer;
  padding: 2px;

  &:hover {
    color: #fbbf24;
  }
}
