@use "../abstracts/mixins" as *;

.project-card {
  border-radius: $radius-lg + 1px;
  padding: 20px;
  position: relative;
  border: 1px solid rgb(35, 35, 35);
  @include transition(0.3s);

  &:hover {
    transform: translateY(-4px);

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: 3px;
      border-radius: 2px;
    }

    &::before {
      bottom: -8px;
      width: 70%;
      background: currentColor;
    }

    &::after {
      bottom: -14px;
      width: 40%;
      background: currentColor;
    }
  }

  &.blue {
    background: #fff;
    box-shadow: rgba(58, 58, 58, 0.2) 0px 1px 10px 1px;
    @include card-hover(#3b82f6);
  }

  &.orange {
    background: $gradient-orange;
    @include card-hover(#f97316);
  }

  &.green {
    background: $gradient-green;
    @include card-hover(#10b981);
  }

  &.pink {
    background: $gradient-pink;
    @include card-hover(#ec4899);
  }

  &.purple {
    background: $gradient-purple;
    margin-bottom: 25px;
    @include card-hover(#8b5cf6);
  }

  .project-header {
    @include flex-center;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  .project-title,
  .project-subtitle {
    display: block;
    width: 100%;
    text-align: center;
  }

  .project-title {
    font-size: 1.125rem;
    font-weight: 600;
    color: #151522;
    margin-bottom: 0.435rem;
  }

  .project-subtitle {
    font-size: 0.875rem;
    font-weight: 500;
    color: rgb(35, 35, 35);
    margin-bottom: 1rem;
  }

  .project-menu {
    background: none;
    border: none;
    cursor: pointer;
    color: $color-primary;
    padding: 0.25rem;
    font-size: 1.25rem;
    font-weight: 800;
  }

  .project-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .project-avatars {
    display: flex;
    gap: -8px;

    .project-avatar {
      @include avatar;
    }
  }
}

// Extra styles
.projects-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: $color-primary;
}

.project-date {
  font-size: 0.875rem;
  color: $color-muted;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: $gap-xl;
  margin-bottom: 32px;
  margin-left: -17px;

  .stat-card {
    max-width: 140px;
    text-align: start;
    padding-left: 16px;
    position: relative;

    &:nth-child(-n + 3)::after {
      /* Apply to first 3 cards, so there's no dot after the last stat card */
      content: "";
      position: absolute;
      bottom: 0%;
      left: 100%;
      margin-left: calc(
        #{$gap-xl} / 2 - 3px
      ); /* Half gap minus half dot width */
      transform: translateY(-50%);
      width: 6px;
      height: 6px;
      border: solid $color-muted 1px;
      border-radius: 50%;
      background: white;
      z-index: 1;
    }

    .stat-number {
      font-size: $stat-number-size;
      font-weight: 700;
      color: $color-primary;
      margin-bottom: 4px;
    }

    .stat-label {
      font-size: 0.875rem;
      color: rgb(35, 35, 35);
    }
  }

  .view-options {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;

    .view-btn {
      padding: 8px;

      border-radius: 4px;
      background: white;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background: #f5f5f5;
      }
    }
  }
}
