@media (max-width: 1089px) {
  .dashboard {
    grid-template-columns: 1fr;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }

  .header-right {
    display: none;
  }
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }

  .stat-card:nth-child(-n + 3)::after {
    display: none;
    content: none;
  }

  .search-input {
    width: 200px;
  }

  .stats-grid {
    grid-template-columns: repeat(2, 1fr);

    .view-options {
      transform: translateX(50%);
    }
  }

  .sidebar {
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 8px;
    background-color: #f3f6fd;
  }

  .sidebar-btn.menu {
    display: none;
    margin-bottom: 0;
  }

  .sidebar-btn {
    margin: 0 8px;
  }
}

@media (max-width: 569px) {
  .search-box {
    display: none;
  }
}
