.stat-number {
  font-size: $stat-number-size;
  font-weight: 700;
  color: $color-primary;
}

body {
  font-family: $font-stack;
  background: $bg-color;
  color: #151522;
  overflow-x: hidden;
}

.projects-date {
  font-weight: 600;
}
