.grey-line {
  width: calc(100% + 40px);
  height: 2px;
  background-color: #64748b24;
  border: none;
  margin: 1rem -1.2rem;
}
.white-line {
  width: calc(100% + 40px);
  background-color: #ffffff75;
  height: 2px;
  border: none;
  margin: 1rem -1.2rem;
}
