.dashboard {
  padding: 7px 16px;
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 24px;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: $gap-xl;
  margin-bottom: 42px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  overflow-x: hidden;
  max-height: 800px;
  padding-right: 18px;
  scrollbar-width: thin;
  scrollbar-color: #1e293b transparent;
}

@media (max-width: 1179px) and (min-width: 1090px) {
  .stats-grid {
    gap: 10px !important;
  }
}
