.dashboard {
  padding: 0.43rem 1.0625rem;
  display: grid;
  grid-template-columns: 60% 40%;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: $gap-xl;
  margin-bottom: 42px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  overflow-x: hidden;
  max-height: 70dvh;

  &::-webkit-scrollbar {
    width: 0px;
  }
}

@media (max-width: 1179px) and (min-width: 1090px) {
  .stats-grid {
    gap: 10px !important;
  }
}
