@use "../abstracts/mixins" as *;

.header {
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-left {
    display: flex;
    align-items: center;
    gap: 4rem; // replaced 130px with scalable unit
    margin-left: 2rem;
  }

  &-title {
    font-size: 25px;
    font-weight: 600;
    color: $color-primary;
  }

  &-right {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.menu-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  color: $color-muted;
  font-size: 16px;
}

.search-box {
  position: relative;

  .search-input {
    width: 348px;
    padding: 8px 16px 8px 40px;
    border: 1px solid $color-avatar-bg;
    border-radius: 25px;
    background: $color-bg;
    font-size: 14px;
    outline: none;

    &:focus {
      border-color: $search-focus;
      background: white;
    }
  }

  .search-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    color: $color-muted;
  }
}

.add-btn {
  width: 32px;
  height: 32px;
  background: $color-primary;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  @include flex-center;
  font-size: 18px;
  font-weight: 300;
}

.notification-btn {
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border-left: solid 1px $color-muted;
  padding-left: 1rem;

  .user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: $color-avatar-bg;
  }

  .user-name {
    font-weight: 600;
    color: $color-primary;
  }
}
