@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin transition($time: 0.2s) {
  transition: all $time ease;
}

@mixin card-hover($color) {
  &:hover::before,
  &:hover::after {
    background: $color;
  }
}

@mixin avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid white;
  margin-left: -8px;
  background: $color-muted;

  &:first-child {
    margin-left: 0;
  }
}

@mixin hover-line($width, $bottom, $bg-color) {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  border-radius: 2px;
  width: $width;
  bottom: $bottom;
  background: $bg-color;
}

@mixin section-divider($left, $right, $extra-width: 2.125rem) {
  content: "";
  position: absolute;
  bottom: 0;
  left: $left;
  right: $right;
  width: calc(100% + $extra-width);
  height: 1px;
  background: $divider-color;
}

@mixin respond($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);
  @if $value {
    @media (max-width: $value) {
      @content;
    }
  } @else {
    @warn "Breakpoint `#{$breakpoint}` not found in $breakpoints map.";
  }
}
