$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
$bg-color: #f3f6fd;
$text-color: #334155;
$color-primary: #1e293b;
$color-muted: #64748b;
$color-bg: #f9fafb;
$divider-color: #ddd;
$color-avatar-bg: #e2e8f0;

//header

$header-title-color: #1e293b; //color-primary
$search-focus: #3b82f6;

// Spacing
$gap-xl: 24px;
$radius-lg: 44px;

// Sizes
$stat-number-size: 21px;

//Time badges

$badge-colors: (
  blue: (
    bg: #daf6fc,
    text: #00bbf3,
  ),
  orange: (
    bg: white,
    text: #f97316,
  ),
  green: (
    bg: white,
    text: #10b981,
  ),
  pink: (
    bg: white,
    text: #ec4899,
  ),
  purple: (
    bg: white,
    text: #8b5cf6,
  ),
);

// Gradients
$gradient-orange: linear-gradient(
  135deg,
  rgb(254 215 170 / 60%) 0%,
  rgb(253 186 116 / 60%) 100%
);
$gradient-green: linear-gradient(135deg, #bbf7d0ad 0%, #86efacbf 100%);
$gradient-pink: linear-gradient(135deg, #fce7f3 0%, #f9a8d4cf 100%);
$gradient-purple: linear-gradient(135deg, #e0e7ff 0%, #c7d2fe 100%);
