$badge-colors: (
  blue: (
    bg: #daf6fc,
    text: #00bbf3,
  ),
  orange: (
    bg: white,
    text: #f97316,
  ),
  green: (
    bg: white,
    text: #10b981,
  ),
  pink: (
    bg: white,
    text: #ec4899,
  ),
  purple: (
    bg: white,
    text: #8b5cf6,
  ),
);
